<?xml version='1.0' encoding='windows-1252' ?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="moiss.oracle.apps.fnd.moiss.server" >
   <DesignTime>
      <Attr Name="_ejbPackage" Value="false" />
      <Attr Name="_version" Value="10.1.3.41.57" />
   </DesignTime>
   <Containee
      Name="MoissCIOVO"
      FullName="moiss.oracle.apps.fnd.moiss.server.MoissCIOVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="MoissPInfoVO"
      FullName="moiss.oracle.apps.fnd.moiss.server.MoissPInfoVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="MoissPIVO"
      FullName="moiss.oracle.apps.fnd.moiss.server.MoissPIVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="MoissPunchAM"
      FullName="moiss.oracle.apps.fnd.moiss.server.MoissPunchAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="MoissTempVO"
      FullName="moiss.oracle.apps.fnd.moiss.server.MoissTempVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
